:root {
  --bg: #e9e9ea;
  --surface: #ffffff;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  --shadow-white: 
  --surface-muted: #ffffff;
  --hero-fill-bg: #C7C5C5;


  --shadow-hover: 0 10px 22px rgba(0, 0, 0, 0.16);

  --radius: 10px;
  --accent: #b46a1d;
  --black: #111;

  --ibu-low: #c9fff2;
  --ibu-mid: #d9fff6;
  --ibu-high: #bdf3ff;
  --ibu-extreme: #ffd7bf;

  --ibu-badge-bg: #00a269;

  --hero-green: #d8fff1;
  --hero-fill: rgba(163, 161, 161, 0.8);
}
